.jspsych-snap-sort-draggable {
    touch-action: none;          /* disable scrolling on touch-drag */
    user-select: none;           /* disable text selection */
    -webkit-user-drag: none;     /* disable Safari ghost */
    -moz-user-select: none;
    z-index: 100;           /* make sure the dragged item is on top */
  }
  