body { background: #fff; margin:0; padding:0; font-size: 18px; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; }

#jspsych_target { width: 1000px; margin-left: auto; margin-right: auto; margin-top: 50px; text-align: center; }
#jspsych_target pre { text-align: left; }

#instructions {width: 500px; margin-left: auto; margin-right: auto; text-align: left; }

